<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="topbar">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <div class="logo-section">
        <span class="hapla-logo" onclick="location.href='/main'">HAPLA</span>
    </div>
    <div class="user-section">
        <label id="login">로그인</label>
        <img src="/img/시나모롤.jpg" alt="User Profile" class="user-profile">
        <div class="dropdown">
            <a onclick="openModal()">내 정보</a>
            <a href="/Community/list">커뮤니티</a>
            <a href="#">여행지추천</a>
            <a href="/schedule">여행 일정</a>
            <a href="#">리뷰 작성</a>
            <a href="#">문의하기</a>
            <a href="#">로그아웃</a>
        </div>
    </div>
</header>
</body>
</html>