<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HAPLA 커뮤니티</title>
	<link href="/css/detail.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="~{common/header.html :: topbar}"></div>
	<main>
		<section class="banner">
			<img src="/img/communityBanner.png" alt="커뮤니티 배너">
			<div class="overlay">
				<h1>여행의 설렘을 함께 나누는 공간 당신의 정보를 공유해보세요</h1>
				<input type="text" placeholder="장소 또는 액티비티로 검색">
			</div>
		</section>

		<section class="community">
			<h2>커뮤니티</h2>
			<table>
				<tr>
				    <th>제목</th>
				    <td colspan="3" width="400px">[[${c.title}]]</td> <!-- ✅ 수정 -->
				    <th>좋아요</th>
				    <td class="likes">❤️ 1</td>
				</tr>
				<tr>
				    <th width="50px">등록자</th>
				    <td>[[${c.name}]]</td> <!-- ✅ 수정 -->
				    <th width="50px">등록일</th>
				    <td>[[${#dates.format(c.createDate, 'yyyy-MM-dd')}]]</td> <!-- ✅ 수정 -->
				    <th>조회수</th>
				    <td>[[${c.views}]]</td> <!-- ✅ 수정 -->
				</tr>
				<tr>
				    <th colspan="6">내용</th>
				</tr>
				<tr>
				    <td colspan="6">[[${c.commContent}]]</td> <!-- ✅ 수정 -->
				</tr>

			</table>

			<h3>댓글 1</h3>
		</section>
	</main>
	<div th:replace="~{common/footer.html :: foot}"></div>
</body>
		

</html>