<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPLA 커뮤니티</title>
    <link href="/css/write.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="~{common/header.html :: topbar}"></div>
<main>
    <section class="banner">
        <img src="/img/communityBanner.png" alt="커뮤니티 배너">
        <div class="overlay">
            <h1>여행의 설렘을 함께 나누는 공간 당신의 정보를 공유해보세요</h1>
        </div>
    </section>
    <section class="editor-container">
        <h2>커뮤니티</h2>
        <div>
        	<form class="needs-validation" action="/comm/insert" method="POST">
		        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
		        <div class="editor-toolbar">
		            <button><b>B</b></button>
		            <button><i>I</i></button>
		            <button><u>U</u></button>
		            <button>A</button>
		        </div>
		        <div class="editor-area" contenteditable="true" placeholder="내용을 입력하세요">
		        </div>
		        <div class="file-upload">첨부파일</div>
		        <div class="editor-buttons">
		            <button class="cancel-button" type="button" onclick="javascript:history.back();">취소</button>
		            <button class="save-button">저장</button>
		        </div>
	        </form>
		</div>
    </section>
</main>    
<div th:replace="~{common/footer.html :: foot}"></div>
</body>
</html>