.main-search {
    text-align: center;
    padding: 2rem;
    /*background-image: url("../img/시나모롤.jpg");*/
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

h1{
	font-size: 3em;
	margin-bottom: 5rem;
}

.search-categories {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.search-categories button {
    background: none;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 2rem; /* 패딩 증가 */
    border-radius: 20px;
    min-width: 120px; /* 최소 너비 설정 */
    height: 40px; /* 높이 고정 */
}

.search-categories button.active {
    background: #0099cc;
    color: white;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    position: relative;
}

.search-bar input {
    width: 65%;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid #ddd; /* 테두리 추가 */
    font-size: 1rem;
    outline: none; /* 포커스 시 기본 테두리 제거 */
}

.search-bar button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #0099cc;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    height: 40px; /* 높이 고정 */
    display: flex;
    align-items: center;
}

.search-bar button:hover{
    background: #0088cc;
}