<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="search">
<head>
    <meta charset="UTF-8">
    <title>항공권 검색 결과</title>
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https	://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
</head>
<body>
	<div th:replace="~{common/header.html :: topbar}"></div>
	<main>
	    
	    
	
	   
	    </main>
		<div th:replace="~{common/footer.html :: foot}"></div>
    <script src="/js/search.js"></script>
</body>
</html>