<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPLA Travel</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{common/header.html :: topbar}"></div>
<main>
    <section th:replace="~{common/search.html :: search}"></section>
    <section id="search-data">
        <section id="search-all-data" class="popular-destinations">
            <div class="destinations-grid">
                <div class="destination-card" th:each="place : ${places}">
                    <input type="hidden" name="placeId" th:value="${place.placeId}">
                    <input type="hidden" name="type" th:value="${place.placeTypes}">
                    <img th:src="${place.photoUrl}" th:alt="${place.name}">
                    <div class="destination-info">
                        <h3 th:text="${place.name}">장소 이름</h3>
                        <p class="rating" th:text="${'⭐' + place.rating}">평점</p>
                        <p class="review-count" th:text="${place.reviews} + ' 리뷰'">리뷰 수</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<div th:replace="~{common/footer.html :: foot}"></div>

<script src="/js/main.js"></script>

<script>
    window.onload = () => {
        const cards = document.querySelectorAll('.destination-card');
        for (const card of cards) {
            card.addEventListener('click', function (){
                let encodedPlaceId = encodeURIComponent(this.querySelector('input[name=placeId]').value); // place_id를 URL 안전하게 인코딩
                let category = encodeURIComponent(this.querySelector('input[name=type]').value);
                location.href = `/detail/${encodedPlaceId}/${category}`; // 상세 페이지 URL로 이동
            });
        }
    }
</script>
</body>
</html>