<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPLA Travel</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{common/header.html :: topbar}"></div>
<main>
    <section th:replace="~{common/search.html :: search}"></section>
    <section id="search-data">
        <section class="popular-destinations">
            <h2>검색 결과</h2>
            <div class="destinations-grid">
            </div>
        </section>
    </section>
</main>
<div th:replace="~{common/footer.html :: foot}"></div>

<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script src="/js/search.js"></script>

</body>
</html>