<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hapla.comm.model.mapper.CommMapper">
    <select id="getListCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM comm WHERE status = 'Y'
    </select>
    
   	<select id="selectCommList" resultType="com.hapla.comm.model.vo.Comm">
	    SELECT comm.comm_no, comm.category_no, comm.user_no, comm.title, comm.comm_content, comm.views,
	           comm.create_date, comm.update_date, comm.status, category.category_name, users.name
	    FROM comm
	    	 JOIN users ON comm.user_no = users.user_no
	    	 JOIN category ON comm.category_no = category.category_no
	    WHERE comm.status = 'Y'
	</select>
	
	<insert id="insertComm">
	    <selectKey order="BEFORE" resultType="int" keyProperty="commNo">
	        SELECT seq_comm.nextval FROM dual
	    </selectKey>
	    INSERT INTO comm 
	    (comm_no, category_no, user_no, title, comm_content, views, create_date, update_date, status) 
	    VALUES (#{commNo}, #{categoryNo}, #{userNo}, #{title}, #{commContent}, DEFAULT, SYSDATE, SYSDATE, DEFAULT)
	</insert>

	<select id="selectComm" resultType="com.hapla.comm.model.vo.Comm">
	    SELECT comm.*, users.name
	    FROM comm
	    	 JOIN users ON comm.user_no = users.user_no
	    WHERE comm.status = 'Y' AND comm.comm_no = #{commNo}
	</select>
	
	<update id="updateCount">
		update comm
		set views = views + 1
		where comm_no = #{commNo}
	</update>
	
	<select id="selectReplyList" resultType="com.hapla.comm.model.vo.Reply">
		select reply.*
		from reply
			 join users on reply.user_no = users.user_no
		where reply.comm_no = #{commNo}
	</select>
	
	<insert id="insertReply">
		insert into reply
		values (seq.reply.nextval, #{userNo}, #{commNo}, #{replyContent}, sysdate, sysdate)
	</insert>
	
	<update id="updateComm">
		update comm
		set title = #{title}, comm_content = #{commContent}, update_date = sysdate
		where comm_no = #{commNo}
	</update>
	
	<update id="deleteComm">
		update comm
		set status = 'N'
		where comm_no = #{commNo}
	</update>
</mapper>





