<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hapla.review.model.mapper.ReviewMapper">
    <select id="getListCount" parameterType="int" resultType="int">
        SELECT COUNT(*) 
        FROM review
    </select>
    
    <select id="selectReviewList" resultType="com.hapla.review.model.vo.Review">
	    SELECT review.review_no, review.user_no, users.name, review.title, review.content, 
	           review.rating, review.create_date, review.update_date, review.when, review.with_whom
	    FROM review
	    JOIN users ON review.user_no = users.user_no
	    ORDER BY review.create_date DESC
	</select>
	
	<select id="selectReview" resultType="com.hapla.review.model.vo.Review">
		select review.*, users.name, users.profile
		from review
			 join users on review.user_no = users.user_no
		where review.review_no = #{reviewNo}
	</select>
	
	<insert id="insertReview">
	    <selectKey order="BEFORE" resultType="int" keyProperty="reviewNo">
	        SELECT seq_review.nextval FROM dual
	    </selectKey>
	    INSERT INTO review 
	    (review_no, user_no, title, content, rating, create_date, update_date, when, with_whom) 
	    VALUES (#{reviewNo}, #{userNo}, #{title}, #{content}, #{rating}, SYSDATE, SYSDATE, #{when}, #{withWhom})
	</insert>
	
</mapper>
