<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hapla.schedule.model.mapper.ScheduleMapper">
	
	<!-- 일정 저장 -->
	<insert id="saveTrip">
		insert into trip
		values (seq_trip.NEXTVAL, #{userNo}, default, #{startDate}, #{endDate}, sysdate, #{cityName})
	</insert>
	
	<!-- 
	<insert id="saveTrip">
		insert all
		
		into trip
		values (seq_trip.NEXTVAL, #{userNo}, default, #{startDate}, #{endDate}, sysdate, #{cityName})
		
		into detail
		values (seq_detail.NEXTVAL, seq_trip.NEXTVAL, default, default, default, sysdate)
	 -->
	 
	 <!-- 날짜 범위에 맞는 일정 조회 -->
	 <select id="selectScheduleByDateRange" resultType="Trip">
	 <![CDATA[
	 	select *
	 	from trip
	 	where date >= #{startDate} and date <= #{endDAte}
	 ]]>
	 </select>
	 
	<select id="getMySchedule">
		select *
		from trip
		where user_no = #{userNo}
		order by CREATE_DATE desc
	</select>

	<select id="getTripDetail">
		select *
		from detail
		where trip_no = #{tripNo}
	</select>
	
	<select id="getTripNo">
		select *
		from trip
		where trip_no = #{tripNo}
	</select>
</mapper>