<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hapla.schedule.model.mapper.ScheduleMapper">
	
	<!-- 일정 저장 -->
	<insert id="saveTrip">
		insert into trip
		values (seq_trip.NEXTVAL, #{userNo}, default, #{startDate}, #{endDate}, sysdate, #{cityName})
	</insert>

</mapper>